#include <memory>
#include <vector>

#include <basis/unit.h>

#pragma clang diagnostic push
#pragma clang diagnostic ignored "-Wdeprecated-declarations"
{% for include in cpp_includes %}
#include <{{include}}>
{% endfor %}
#pragma clang diagnostic pop

{% for handler_name in handlers %}
#include <unit/{{unit_name}}/handlers/{{handler_name}}.h>
{% endfor %}

namespace unit::{{unit_name}} {
    // TODO: this won't work with multi threaded units, obviously
    class Base : public basis::SingleThreadedUnit {
    
        void CreatePublishersSubscribers(const basis::UnitInitializeOptions& options) {
            {% for handler_name in handlers %}
            {{handler_name}}_pubsub.SetupPubSub(options, transport_manager.get(), output_queue, &thread_pool);
            handlers["{{handler_name}}"] = &{{handler_name}}_pubsub;
            {% endfor %}
        }

    public:
        Base(std::optional<std::string> name_override = {}) 
        : basis::SingleThreadedUnit(name_override.value_or("{{unit_name}}")) {

        }

{% for handler_name in handlers %}
        virtual {{handler_name}}::Output {{handler_name}}(const {{handler_name}}::Input& input) = 0;
{% endfor %}

        virtual void Initialize(const basis::UnitInitializeOptions& options) final override {
            CreatePublishersSubscribers(options);
        }
    
    private:
        {% for handler_name in handlers %}
        {{handler_name}}::PubSub {{handler_name}}_pubsub = {
            [this](auto input){
                return {{handler_name}}(input); 
            }
        };
        {% endfor %}
    };
    
}